body {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

table {
    border-collapse: collapse;
    height: auto;
}

TD {
    font-family: arial;
    font-size: 8px;
    vertical-align: top;
}

#divCodBarras{
    width: 230px; 
    overflow: auto;
    padding: 10px;
    margin: 5px;
}

.BordaInfDir {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.BordaInf {
    border-bottom: 2px solid black;
}

.BordaEsq {
    border-left: 2px solid black;
}

.BordaInfEsq {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.BordaSupEsr {
    border-bottom: 2px solid black;
}

.BordaDirTracejada {
    border-right: 1px dotted;
    text-align: center;
    vertical-align: middle;
}

.BordaTodas {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.style57 {
    font-size: 7px;
}

.style58 {
    font-size: 1px;
}

.style59 {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
}

.style60 {
    font-size: 23px;
    font-weight: bold;
}

.style62 {
    font-size: 12px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos sejam movidos para a próxima linha quando não houver espaço */
}

.table-wrapper {
    flex: 1 1 45%; /* Ajusta as tabelas para ocupar 45% da largura do contêiner */
    margin: 10px; /* Adiciona espaçamento entre as tabelas */
}
